/* CSS */

body {
  margin: 16px;
}

div.grid-align {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 4px 8px;
}

div.grid-align label {
  text-align: right; 
}

div.grid-align-4 {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 4px 8px;
}

div.grid-align-4 label {
  text-align: right; 
}