<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Deal-in Rate Calculator</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h2>Deal-in Rate Calculator</h2>
  <h3>Inputs</h3>
  <div>
    Dora: {{ dora_string }}
  </div>

  <h3>Discards</h3>

  <table>
    <tbody>
      <tr>
        {% for i in range(0, 6) %}
        <td>
          <img id="discard-back-{{ i|string }}" class="tile-under"></img>
          <img id="discard-{{ i|string }}" class="tile"></img>
        </td>
        {% endfor %}
      </tr>
      <tr>
        {% for i in range(0, 6) %}
        <td>
          <img id="discard-back-{{ (i + 6)|string }}" class="tile-under"></img>
          <img id="discard-{{ (i + 6)|string }}" class="tile"></img>
        </td>
        {% endfor %}
      </tr>
      <tr>
        {% for i in range(0, 9) %}
        <td>
          <img id="discard-back-{{ (i + 12)|string }}" class="tile-under"></img>
          <img id="discard-{{ (i + 12)|string }}" class="tile"></img>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <h3>Deal-in Probabilities</h3>

  <table>
    <thead>
      <tr>
        {% for i in range (0, 9) %}
          <th>
            <img class="tile-under" src="static/img/tiles/Front.png"></img>
            <img 
              class="tile" 
              src="static/img/tiles/Man{{ (i + 1)|string }}.png" 
            ></img>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for i in range(0, 9) %}
        <td>{{ deal_in_probs[i] }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <br>

  <table>
    <thead>
      <tr>
        {% for i in range (0, 9) %}
          <th>
            <img class="tile-under" src="static/img/tiles/Front.png"></img>
            <img 
              class="tile" 
              src="static/img/tiles/Pin{{ (i + 1)|string }}.png" 
            ></img>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for i in range(9, 18) %}
        <td>{{ deal_in_probs[i] }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <br>

  <table>
    <thead>
      <tr>
        {% for i in range (0, 9) %}
          <th>
            <img class="tile-under" src="static/img/tiles/Front.png"></img>
            <img 
              class="tile" 
              src="static/img/tiles/Sou{{ (i + 1)|string }}.png" 
            ></img>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for i in range(18, 27) %}
        <td>{{ deal_in_probs[i] }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <br>

  <table>
    <thead>
      <tr>
        {% for i in range (0, 7) %}
        <th>
          <img class="tile-under" src="static/img/tiles/Front.png"></img>
          <img 
            class="tile" 
            src="static/img/tiles/Ji{{ (i + 1)|string }}.png" 
          ></img>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for i in range(27, 34) %}
        <td>{{ deal_in_probs[i] }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <br>

  <input type="button" onclick="location.href='javascript:history.back()'" value="Back">
  
  <script src="static/js/deal_in_probs.js"></script>
  <script>
    refreshTileImages('{{ discard_string }}');
  </script>
</body>
</html>
